<!-- FOOTER -->
<div class="container">
  <div class="footer">


    <h3>VetSRev</h3>
    <p class="strap">Database of veterinary systematic reviews</p>

    <p>To cite this resource please use the following:</br>
    xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx xxx </p>

  </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ "/vendor/jquery-3.3.1.slim.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/popper.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap-4.3.1.min.js " | prepend: site.baseurl }}"></script>

{% if page.filter %}
<script>
$(document).ready(function(){
  // run filter from filter box
  $("#filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    //console.log(value);
    $(".bibliography li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endif %}

<!-- Google Analytics

have updated to their tag.
uncomment to activate...

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-921739-25"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-921739-25');
</script>
-->
